<div>Exercise: {{exercise.name}}</div>
<div>{{exercise.description}}</div>
<div *ngIf="!complete">
  <div>Key: {{keys[keyIndex]}} ({{keyIndex + 1}}/{{keys.length}})</div>
  <div *ngIf="exercise.beats.length">
    <div>Beats:</div>
    <div *ngFor="let beat of exercise.beats; index as beatIdx">
      <span>{{formatBeat(beat)}}</span>
      <span *ngIf="beatIndex === beatIdx">&nbsp;⬅</span>
    </div>
  </div>
  <button (click)="regressKey()" type="button">Regress Key</button>
  <button (click)="regress()" type="button">Regress</button>
  <button (click)="progress()" type="button">Progress</button>
  <button (click)="progressKey()" type="button">Progress Key</button>
</div>
<div *ngIf="complete">
  YAY! YOU COMPLETED THE EXERCISE!
  <button (click)="again()" type="button">Again</button>
</div>
