<h1>
  <div>{{exercise.name}}</div>
  <div>
    <small class="text-body-secondary">{{exercise.description}}</small>
  </div>
</h1>

<div *ngIf="!complete">

  <div class="progress mb-3" role="progressbar" [style.height]="'1px'">
    <div class="progress-bar" [style.width]="exerciseProgressWidth"></div>
  </div>

  <div class="key-container mb-3">
    <button type="button" class="btn btn-light key-container-button" (click)="regressKey()">
      <i class="bi bi-chevron-left"></i>
    </button>

    <div>
      <div class="card">
        <div class="card-body">
          <div class="key-display">{{currentKey}}</div>
          <div class="progress" role="progressbar">
            <div class="progress-bar" [style.width]="currentKeyProgressWidth"></div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-light key-container-button" (click)="progressKey()">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>

</div>
<div *ngIf="complete" class="complete-container mb-3 pt-3 border-top">
  <div>You completed the exercise!</div>
  <button type="button" class="btn btn-success" (click)="again()">Let's go again!</button>
  <app-exercise-deetz [exerciseDeetz]="exerciseDeetz"></app-exercise-deetz>
</div>

<div class="sticky-bottom">
  <div class="sticky-bottom-contents py-3 bg-body border-top">
    <button type="button" class="btn btn-outline-primary">Configure Keys</button>
    <button type="button" class="btn btn-outline-primary" (click)="finish()">Finish Exercise</button>
    <a routerLink="/exercise/edit/{{exercise.id}}" [queryParams]="{origin: 'exercise'}">
      <button type="button" class="btn btn-outline-primary">Edit Exercise</button>
    </a>
  </div>
</div>
