<ng-container *ngIf="modeIsCreate || modeIsUpdate">
  <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit(true)">
    <input formControlName="name" placeholder="Exercise Name">
    <input formControlName="description" placeholder="Exercise Description">

    <!-- Beats -->
    <div>
      <div>Beats</div>
      <ng-container formArrayName="beats">
        <ul class="list-group">
          <ng-container *ngFor="let beat of beats.controls; index as beatIdx">
            <li class="list-group-item">
              <ng-container formGroupName="{{beatIdx}}">
                <div>Scale Degree of the Chord Root</div>
                <input formControlName="chordRomanNumeral"/>

                <div>Chord Type (Quality)</div>
                <input formControlName="chordType"/>

                <div>Chord Voicing</div>
                <ng-container formArrayName="chordVoicing">
                  <div *ngFor="let interval of getVoicingByBeatIndex(beatIdx).controls; index as intervalIdx">
                    <input formControlName="{{intervalIdx}}"/>
                  </div>
                </ng-container>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>

    <div>
      <ng-container [formGroup]="scaleGeneratorForm">
        <div class="mb-3">
          <label for="scaleType" class="form-label">Scale</label>
          <select formControlName="scaleType" id="scaleType" class="form-select">
            <ng-container *ngFor="let scaleType of scaleTypeOptions; index as scaleTypeIdx">
              <option [ngValue]="scaleType">{{scaleType}}</option>
            </ng-container>
          </select>
        </div>

        <div class="mb-3">
          <label for="pattern" class="form-label">Pattern</label>
          <select formControlName="pattern" id="pattern" class="form-select">
            <ng-container *ngFor="let pattern of patternOptions; index as patternIdx">
              <option [ngValue]="pattern">{{pattern}}</option>
            </ng-container>
          </select>
        </div>

        <div class="mb-3">
          <label for="direction" class="form-label">Direction</label>
          <select formControlName="direction" id="direction" class="form-select">
            <ng-container *ngFor="let direction of directionOptions; index as directionIdx">
              <option [ngValue]="direction">{{direction}}</option>
            </ng-container>
          </select>
        </div>

        <div class="mb-3">
          <label for="octaves" class="form-label">Octaves: {{scaleGeneratorForm.get('octaves')?.value}}</label>
          <input formControlName="octaves" type="range" class="form-range" min="1" max="5" step="1" id="octaves">
        </div>

        <button (click)="generateScaleBeats()" type="button" class="btn btn-primary">Generate Scale</button>
      </ng-container>
    </div>

    <button class="btn btn-primary">{{modeIsCreate ? "Create" : "Update" }} and Start Exercise</button>
  </form>
</ng-container>
