<ul class="list-group">
  <ng-container *ngFor="let exercise of exercises; index as i">
    <li class="list-group-item">
      <span>{{exercise.name}}</span>

      <a routerLink="/exercise/{{exercise.id}}">
        <button type="button" class="btn btn-primary">Start</button>
      </a>

      <a routerLink="/exercise/edit/{{exercise.id}}" [queryParams]="{origin: 'exercises'}">
        <button type="button" class="btn btn-secondary">Edit</button>
      </a>
    </li>
  </ng-container>
</ul>
<div>
  <a routerLink="/exercise/edit" [queryParams]="{origin: 'exercises'}">
    <button type="button" class="btn btn-success">Create New Exercise</button>
  </a>
</div>
