<p>history works!</p>
<dp-date-picker #dayPicker theme="dp-material" (onChange)="dpChange($event)"></dp-date-picker>

<ul class="list-group segment-list mb-3">
  <ng-container *ngFor="let segment of segments; index as segmentIndex">
    <li class="list-group-item">
      <div class="flex-container">
        <span>
          <span><b>Time</b>:&nbsp;{{displayTime(segment.segStartTimestamp)}}</span>
          <span>&nbsp;-&nbsp;</span>
          <span>{{displayTime(segment.segEndTimestamp)}}</span>
          <span>&nbsp;<b>Duration</b>:&nbsp;{{displayDuration(segment.segDuration)}}</span>
          <span>&nbsp;<b>Keystrokes</b>: {{segment.keystrokes}}</span>
        </span>

        <ng-container *ngIf="!(playing && playingSegmentIndex === segmentIndex)">
          <button type="button" class="btn btn-primary" (click)="playSegment(segmentIndex)">Play</button>
        </ng-container>
        <ng-container *ngIf="playing && playingSegmentIndex === segmentIndex">
          <button type="button" class="btn btn-primary" (click)="stopPlaying()">Stop</button>
        </ng-container>
      </div>

      <ng-container *ngIf="playing && playingSegmentIndex === segmentIndex">
        <div class="progress mb-3" role="progressbar" >
          <!-- https://stackoverflow.com/a/36773709 -->
          <div class="progress-bar" [style.width]="playProgress+'%'" [style.transition-duration]="'150ms'"></div>
        </div>
      </ng-container>

    </li>
  </ng-container>
</ul>
