<p>history works!</p>
<dp-date-picker #dayPicker theme="dp-material" (onChange)="dpChange($event)"></dp-date-picker>

<!--<div>Playback is playing: {{playing ? 'true' : 'false'}}</div>-->

<ul class="list-group segment-list mb-3">
  <ng-container *ngFor="let segment of segments; index as segmentIndex">
    <li class="list-group-item">
      <div class="flex-container">
        <span>
          <span><b>Time</b>:&nbsp;{{displayTime(segment.segStartTimestamp)}}</span>
          <span>&nbsp;-&nbsp;</span>
          <span>{{displayTime(segment.segEndTimestamp)}}</span>
          <span>&nbsp;<b>Duration</b>:&nbsp;{{displayDuration(segment.segDuration)}}</span>
          <span>&nbsp;<b>Keystrokes</b>: {{segment.keystrokes}}</span>
        </span>

        <ng-container *ngIf="!(playing && playingSegmentIndex === segmentIndex)">
          <button type="button" class="btn btn-primary" (click)="playSegment(segmentIndex)">Play</button>
        </ng-container>
        <ng-container *ngIf="playing && playingSegmentIndex === segmentIndex">
          <button type="button" class="btn btn-primary" (click)="stopPlaying()">Stop</button>
        </ng-container>
      </div>

    </li>
  </ng-container>
</ul>
