<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">InAll12Keys</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
              <a class="nav-link" routerLink="/piano" routerLinkActive="active">Piano View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/staff" routerLinkActive="active">Staff View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exercises" routerLinkActive="active">Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/midi-test" routerLinkActive="active">Midi File Testing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
