<p>midi-test works!</p>
<button type="button" (click)="initializeAudioContext()">Enable Audio Context</button>
<div>Piano Loaded: {{pianoLoaded ? 'true': 'false'}}</div>
<ng-container *ngIf="pianoLoaded">
  <div>Transport stats: {{piano.context.transport.state}}</div>
  <div>Scheduled Events: {{piano.context.transport['_timeline'].length}}</div>
<!--  <div>Ticks: {{ticks}}</div>-->
</ng-container>
<button type="button" (click)="start()">Start</button>
<button type="button" (click)="pause()">Pause</button>
<button type="button" (click)="resume()">Resume</button>
<button type="button" (click)="stop()">Stop</button>
